body {
    font-family: Georgia, serif;
    text-align: center;
    width: 100%;
}

.compositions button {
    font-size: 1em;
    margin: 0 3px;
    padding: 7px;
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: all .2s ease-in-out;
}

.compositions button.activeBtn {
    background-color: gray;
    color: white;
    border: 2px solid gray;
}

.play button {
    padding: 10px;
    font-size: 1em;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

div.compositions button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.sheet-holder div {
    padding-bottom: 10px
}

.compositions {
    display: inline-block;
}

.title {
    color: #F50890;
    font-size: 40px;
    text-shadow: 0 -1px 5px #F5F408;
}

.content {
    background-color: #FAD7A0;
    margin: 20px;
    padding: 30px;
    border-style: double;
    border-width: 5px;
    font-size: 18px;
    text-align: left;
    width: 1200px;
    display: inline-block;

}

.key {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
    border: 1px solid rgba(32, 32, 32, 0.2);
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    box-shadow: 0 5px 1px rgba(32, 32, 32, 0.2);
    -webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}


/* C keys more visible for better usage */
.key:nth-child(12n-23) {
    background-color: #e0e057;
}



.key .label {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 15px;
}

.black {
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    z-index: 1;
    text-shadow: 0 -1px 1px #FF0000;
    width: 30px;
    height: 120px;
}

.white {
    background-color: #F2F2DE;
    color: #3008F5;
    z-index: 0;
    text-shadow: 0 1px 1px #08E8F5;
    width: 40px;
    height: 200px;
}

.keyboard-holder {
    width: 800px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.playing {
    background-color: #1BC0EA !important;
    margin-top: 5px;
    box-shadow: none;
}

header {
    height: 100px;
}

section > * {
    padding-bottom: 10px;
}

body.modal-visible .page-wrapper {
    filter: blur(2px) grayscale(100%);
    transition: filter 0.5s ease;
}

body.modal-visible {
    overflow: hidden;
}

/* modal used from seminars */
.modal {
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

body.modal-visible .modal {
    visibility: visible;
}

.modal-content {
    margin: auto;
    padding: 16px;
    width: 500px;
    max-width: 600px;
    min-height: 200px;
    transform: scale(0);
    transition: transform 0.5s ease;
    background: white;
}

.modal-content button {
    font-size: 15px;
    padding: 5px;
    margin: 10px;
}

body.modal-visible .modal-content {
    transform: scale(1);
}
